@font-face {
  font-family: "normal-Montserrat";
  src: url("../assets/fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "bold-Montserrat";
  src: url("../assets/fonts/Montserrat-SemiBold.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "normal-Montserrat";
  background-color: #1f1e1d;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input,
textarea {
  border: none;
  outline: none;
  background: none;
}

h1,
h2, h3, h4, h5, h6 {
  font-family: "bold-Montserrat";
}

img {
  display: block;
}

.portfolio-wrapper {
  max-width: 1440px;
  margin: auto;
}

.main-sections {
  padding: 20px;
  margin-top: 60px;
}

section {
  width: 100%;
  min-height: 400px;
  padding: 30px 0;
}
section .section-heading {
  font-size: 42px;
  text-shadow: 0 0 50px white;
  color: white;
}
section .arrow-up {
  transform: translate(-5px, 5px);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  inset: 0;
  z-index: 99;
  height: 75px;
  width: 100%;
  padding: 0 20px;
  background-color: #1f1e1d;
}
header .logo {
  position: relative;
  padding-left: 15px;
  color: #fffefc;
  font-size: 32px;
}
header .logo::before {
  content: "";
  position: absolute;
  left: 0;
  width: 4px;
  height: 100%;
  background: #fffefc;
  border-radius: 8px;
}
header .navigation .nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 48px;
  padding: 4px;
  background: #262422;
  border-radius: 32px;
  border: 1px solid rgba(128, 128, 128, 0.2823529412);
}
header .navigation .nav-list .nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fffefc;
  height: 100%;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 10px;
  border-radius: 32px;
  font-size: 18px;
  transition: all 0.3s linear;
}
header .navigation .nav-list .nav-item:hover {
  background-color: #292928;
}
header .external-link button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 8px 16px;
  background-color: #fffefc;
  color: #262422;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
  overflow: hidden;
}
header .external-link button .bi {
  font-size: 19px;
  transition: all 0.3s linear;
}

.about-section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #262422;
  border-radius: 20px;
  border: 1px solid rgba(128, 128, 128, 0.2823529412);
  overflow: hidden;
}
.about-section::before, .about-section::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 150px;
  filter: blur(100px);
  background-color: #757575;
}
.about-section::before {
  left: 0;
  top: 0;
}
.about-section::after {
  right: 0;
  bottom: 0;
}

.about-content {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 800px;
  padding: 30px 20px;
  color: #fffefc;
  text-align: center;
  font-size: 22px;
  line-height: 1.5;
}
.about-content h1 {
  font-size: 48px;
}

.about-img-container {
  position: relative;
  border-radius: 50%;
}
.about-img-container img {
  width: 120px;
  height: 120px;
  padding: 5px;
  border-radius: 50%;
  border: 3px solid #fffefc;
}
.about-img-container svg {
  position: absolute;
  left: 8px;
  bottom: 8px;
  width: 28px;
  height: 28px;
  padding: 5px;
  background: #fffefc;
  border-radius: 50%;
}

.socail-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  padding: 4px;
  background-color: #1f1e1d;
  border-radius: 30px;
  border: 1px solid rgba(128, 128, 128, 0.2823529412);
}
.socail-links a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #262422;
  border-radius: 50%;
  transform: scale(0.97);
  transition: all 0.3s linear;
  overflow: hidden;
}
.socail-links a .bi {
  font-size: 18px;
  color: #fffefc;
}
.socail-links a .arrow-up {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: #fffefc;
  color: #262422;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s linear;
}
.socail-links a:hover {
  border-color: #fffefc;
}
.socail-links a:hover .arrow-up {
  opacity: 1;
  visibility: visible;
  transform: translate(0px);
}

.projects-section {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  gap: 0px;
  color: #262422;
}

.projects-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  width: 100%;
}

.card-project {
  position: relative;
  flex-grow: 1;
  max-width: 400px;
  height: -moz-fit-content;
  height: fit-content;
  margin: 20px 0;
  padding: 5px;
  border: 1px solid rgba(128, 128, 128, 0.2823529412);
  border-radius: 20px;
  transition: border 0.3s linear;
  cursor: pointer;
  overflow: hidden;
}

.projects-details {
  position: absolute;
  inset: 0;
  z-index: 1;
  display: flex;
  justify-content: end;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  width: 100%;
  background: rgba(38, 36, 34, 0.8274509804);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  line-height: 1.5;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s linear;
}
.projects-details > * {
  transform: translateX(-20px);
  transition: all 0.3s linear;
}
.projects-details .languages {
  display: flex;
  justify-content: flex-start;
  align-items: start;
  gap: 10px;
  flex-wrap: wrap;
}
.projects-details .languages span {
  padding: 4px 8px;
  border-radius: 8px;
  font-size: 13px;
}
.projects-details .languages #html {
  background-color: rgba(255, 136, 0, 0.2823529412);
  color: #ff8800;
}
.projects-details .languages #css {
  background-color: rgba(0, 47, 255, 0.2823529412);
  color: #7e96ff;
}
.projects-details .languages #js {
  background-color: rgba(255, 230, 0, 0.2823529412);
  color: #ffe600;
}
.projects-details .demo-link-projects {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 42px;
  padding: 8px 20px;
  margin-top: 20px;
  background: #fffefc;
  color: #262422;
  border-radius: 30px;
}
@keyframes arrow-up {
  0% {
    transform: translate(-5px, 5px);
    opacity: 0;
  }
  100% {
    transform: translate(0px);
    opacity: 1;
  }
}
.projects-details .demo-link-projects .bi {
  font-size: 19px;
}
.projects-details .demo-link-projects:hover .bi {
  animation: arrow-up 0.3s linear;
}

.project-img-container {
  width: 100%;
  height: 300px;
  border-radius: 13px;
  transition: border 0.3s linear;
  overflow: hidden;
}
.project-img-container img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.3s linear;
}

.card-project:hover .projects-details {
  opacity: 1;
  visibility: visible;
}
.card-project:hover .projects-details > * {
  transform: translateX(0px);
}

.skills-section {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  gap: 0px;
  color: #fffefc;
}

.skills-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  width: 100%;
}

.list-skills {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 20px;
  flex-wrap: wrap;
  width: 100%;
  padding: 10px 0;
  margin-top: 20px;
}
.list-skills li {
  position: relative;
  flex-wrap: wrap;
  flex-grow: 1;
  max-width: 300px;
  min-height: 250px;
  padding: 20px;
  border-radius: 20px;
  transition: all 0.3s linear;
  overflow: hidden;
  border: 1px solid rgba(128, 128, 128, 0.2823529412);
}
.list-skills li::before, .list-skills li::after {
  content: "";
  position: absolute;
  width: 70px;
  height: 70px;
  filter: blur(100px);
  background-color: #757575;
}
.list-skills li::before {
  left: 0;
  top: 0;
}
.list-skills li::after {
  right: 0;
  bottom: 0;
}
.list-skills li > * {
  position: relative;
}
.list-skills li h3 {
  padding-top: 10px;
}
.list-skills li h3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -100%);
  width: 0%;
  height: 4px;
  background: linear-gradient(90deg, transparent, #4e4e4e, transparent);
  border-radius: 100%;
  transition: all 0.3s linear;
}
.list-skills li p {
  color: #757575;
  transition: all 0.3s linear;
  font-size: 19px;
  margin: 10px 0;
  text-transform: lowercase;
  transform: scale(0.99);
  cursor: pointer;
}
.list-skills li p:hover {
  color: #ff8757;
  transform: scale(1);
}
.list-skills li:hover {
  border-color: #4e4e4e;
}
.list-skills li:hover h3::before {
  width: 100%;
}/*# sourceMappingURL=style.css.map */