@font-face {
  font-family: "normal-Montserrat";
  src: url("../assets/fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "bold-Montserrat";
  src: url("../assets/fonts/Montserrat-SemiBold.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "normal-Montserrat";
  background-color: #1f1e1d;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input,
textarea {
  border: none;
  outline: none;
  background: none;
}

h1,
h2 h3 h4 h5 h6 {
  font-family: "bold-Montserrat";
}

img {
  display: block;
}

.portfolio-wrapper {
  max-width: 1440px;
  margin: auto;
}

.portfolio-wrapper {
  display: none;
}
.portfolio-wrapper .main-sections {
  padding: 20px;
  margin-top: 60px;
}
.portfolio-wrapper .main-sections section {
  width: 100%;
  min-height: 400px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  inset: 0;
  z-index: 99;
  height: 75px;
  width: 100%;
  padding: 0 20px;
  background-color: #1f1e1d;
}
header .logo {
  position: relative;
  padding-left: 15px;
  color: #fffefc;
  font-size: 32px;
}
header .logo::before {
  content: "";
  position: absolute;
  left: 0;
  width: 4px;
  height: 100%;
  background: #ff8757;
  border-radius: 8px;
}
header .navigation .nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 48px;
  padding: 4px;
  background: #403d39;
  border-radius: 32px;
  border: 2px solid rgba(255, 135, 87, 0.2470588235);
}
header .navigation .nav-list .nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fffefc;
  height: 100%;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 10px;
  border-radius: 32px;
  font-size: 18px;
  transition: 0.3s linear;
}
header .navigation .nav-list .nav-item.active-item {
  background: #ff8757;
}
header .navigation .nav-list .nav-item:hover:not(.active-item) {
  background-color: #4b4a45;
}
header .external-link button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 8px 16px;
  background-color: #fffefc;
  color: #403d39;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
  overflow: hidden;
}
header .external-link button svg {
  width: 30px;
  height: 30px;
  color: #403d39;
}
header .external-link button .external-span-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ff8757;
  color: #fffefc;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s linear;
}
header .external-link button .external-span-icon > * {
  transition: 0.3s linear;
}
header .external-link button .external-span-icon p {
  margin-left: -10px;
}
header .external-link button .external-span-icon svg {
  color: #fffefc;
  transform: translate(-5px, 5px);
}
header .external-link button:hover .external-span-icon {
  opacity: 1;
  visibility: visible;
}
header .external-link button:hover .external-span-icon p {
  margin-left: 0;
}
header .external-link button:hover .external-span-icon svg {
  transform: translate(0px);
}

.about-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fffefc;
  border-radius: 20px;
  box-shadow: 0 10px 0 #ff8757;
}
.about-section .about-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 800px;
  padding: 30px 20px;
  color: #403d39;
  text-align: center;
  font-size: 22px;
  line-height: 1.5;
}
.about-section .about-content .about-img-container {
  position: relative;
  border-radius: 50%;
}
.about-section .about-content .about-img-container img {
  width: 120px;
  height: 120px;
  padding: 5px;
  border-radius: 50%;
  border: 3px solid #ff8757;
}
.about-section .about-content .about-img-container svg {
  position: absolute;
  left: 8px;
  bottom: 8px;
  width: 28px;
  height: 28px;
  padding: 5px;
  background: #ff8757;
  border-radius: 50%;
}
.about-section .about-content h1 {
  font-size: 48px;
}
.about-section .about-content p {
  color: #9e9e9e;
}
.about-section .about-content .socail-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 10px;
}
.about-section .about-content .socail-links a {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 40px;
  height: 40px;
  border: 2px solid;
  border-radius: 50%;
  transform: scale(0.97);
  transition: 0.3s linear;
}
.about-section .about-content .socail-links a svg {
  width: 28px;
  height: 28px;
  fill: #403d39;
}
.about-section .about-content .socail-links a .arrow-up {
  position: absolute;
  opacity: 0;
  transform: translate(-5px, 5px);
  visibility: hidden;
  border-radius: 50%;
  background-color: #ff8757;
  color: #fffefc;
  transition: 0.3s linear;
}
.about-section .about-content .socail-links a:hover {
  transform: scale(1);
  border-color: #ff8757;
}
.about-section .about-content .socail-links a:hover .arrow-up {
  opacity: 1;
  transform: translate(0px);
  visibility: visible;
}/*# sourceMappingURL=style.css.map */