.about-section {
  position: relative;
  @include flex-box(center, center);
  background: $dark-gray;
  border-radius: 20px;
  border: $border;
  overflow: hidden;
  @include glass-effect(100px, 150px);
}

.about-content {
  position: relative;
  z-index: 1;
  @include flex-box(center, center, null, column);
  max-width: 800px;
  padding: 30px 20px;
  color: $white;
  text-align: center;
  font-size: 22px;
  line-height: 1.5;

  h1 {
    font-size: 48px;
  }
}

.about-img-container {
  position: relative;
  border-radius: 50%;
  img {
    @include w-h(120px, 120px);
    padding: 5px;
    border-radius: 50%;
    border: 3px solid $white;
  }
  svg {
    position: absolute;
    left: 8px;
    bottom: 8px;
    @include w-h(28px, 28px);
    padding: 5px;
    background: $white;
    border-radius: 50%;
  }
}

.socail-links {
  @include flex-box(center, center, 10px);
  margin-top: 10px;
  padding: 4px;
  background-color: $almost-black;
  border-radius: 30px;
  border: $border;
  a {
    position: relative;
    @include flex-box(center, center);
    @include w-h(40px, 40px);
    background-color: $dark-gray;
    border-radius: 50%;
    transform: scale(0.97);
    transition: $transition;
    overflow: hidden;
    .bi {
      font-size: 18px;
      color: $white;
    }
    .arrow-up {
      @include flex-box(center, center);
      position: absolute;
      width: 100%;
      aspect-ratio: 1;
      border-radius: 50%;
      background-color: $white;
      color: $dark-gray;
      @include hide-show-item(0, hidden);
      transition: $transition;
    }
    &:hover {
      border-color: $white;
      .arrow-up {
        @include hide-show-item(1, visible);
        transform: translate(0px);
      }
    }
  }
}
