// colors 
$white: #fffefc;
$gray: #757575;
$dark-gray: #262422;
$almost-black: #1f1e1d;
$orange: #ff8757;

$heading-size: 42px;
$text-size: 18px;


@mixin flex-box($justify, $items, $gap: null, $direction: null){
    display: flex;
    justify-content: $justify;
    align-items: $items;
    flex-direction: $direction;
    gap: $gap;
}