// variables file ============================= >

// colors
$white: #fffefc;
$gray: #757575;
$dark-gray: #262422;
$almost-black: #1f1e1d;
$orange: #ff8757;

$heading-size: 42px;
$text-size: 18px;
$transition: all 0.3s linear;
$border: 1.3px solid #80808048;

// flex box ============================= >
@mixin flex-box($justify, $items, $gap: null, $direction: null) {
  display: flex;
  justify-content: $justify;
  align-items: $items;
  flex-direction: $direction;
  gap: $gap;
}

// Glass effect ============================= >
@mixin glass-effect($width, $height) {
  &::before,
  &::after {
    content: "";
    position: absolute;
    width: $width;
    height: $height;
    filter: blur(100px);
    background-color: $gray;
    border-radius: 50%;
  }
  &::before {
    left: 0;
    top: 0;
  }
  &::after {
    right: 0;
    bottom: 0;
  }
}
// width and height element ============================= >
@mixin w-h($w, $h) {
  width: $w;
  height: $h;
}

// hide or show element ============================= >
@mixin hide-show-item($opacity, $visibility) {
  opacity: $opacity;
  visibility: $visibility;
}
